<template>
    <div v-loading.fullscreen.lock="fullscreenLoading">
        <el-upload
        action="" 
        ref="images"
        :auto-upload="false" 
        :file-list="imagesToUpload" 
        :on-change="handleChange"
        accept="image/png"
        multiple>
			<el-button type="primary" icon="el-icon-document-add" round>Select Image</el-button> 
        </el-upload>
    </div>
    <div>
        <img v-for="image in imagesUploaded" :src="image.url" :key="image.id"/>
    </div>
</template>
<script>
    import axios from "axios"
    export default {
        data() {
            return {
                imagesToUpload: [],
                imagesUploaded: [],
                fullscreenLoading: false
            }
        },
        methods: {
            handleChange(file, FileList){
                this.fullscreenLoading = true
                var data = new FormData()
                data.append('file', file.raw)

                axios.post('http://localhost:8000/api/images', data).then(() => {
                    this.$message({
                        message: 'Successfully file uploaded.',
                        type: 'success'
                    });
                    FileList.splice(FileList.indexOf(file), 1)
                    this.getFilesUploaded()
                    this.fullscreenLoading = false  
                }).catch(error => {
                    console.log(error)
                    this.$message({
                        message: 'Error uploading file.',
                        type: 'error'
                    });
                    this.fullscreenLoading = false
                })
            },
            getFilesUploaded(){
                axios.get('http://localhost:8000/api/images').then(response => {console.log(response.data); this.imagesUploaded = response.data })
            }
        },
        mounted(){
            this.getFilesUploaded()
        }
    }
</script>
<style>
    

</style>